<!DOCTYPE html>

<html lang="en">

<head>

<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Welcome to DMC IT Services Pvt Ltd, Software development, Staff Augmentation, Outsourcing</title>
    <meta name="keywords" content="DMC IT Services,DMC IT, DMC IT Services Hyderabad,DMC IT Services Pvt.Ltd.,dmcweb.net,DMC IT Services Shri Prashanti sai towers,DMC IT Services banjarahills,DMC IT Services ngarjuna hills,DMC IT Services road no.1 banjarahills,DMC IT Services telangana,dmcweb" >
    <meta name="description" content="DMC IT Services,DMC IT, DMC IT Services Hyderabad,DMC IT Services Pvt.Ltd.,dmcweb.net,DMC IT Services Shri Prashanti sai towers,DMC IT Services banjarahills,DMC IT Services ngarjuna hills,DMC IT Services road no.1 banjarahills,DMC IT Services telangana,dmcweb" >

<!-- GOOGLE FONTS -->
       <link href='https://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700' rel='stylesheet' type='text/css'>

    <!-- BOOTSTRAP CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- IcoFont CSS -->
    <link href="css/icofont.css" rel="stylesheet">

    <!-- FontAwesome Css -->
    <link href="css/font-awesome.min.css" rel="stylesheet">

    <!-- OWL CAROUSEL CSS -->
    <link href="css/owl.carousel.css" rel="stylesheet">

    <!-- ANIMATE CSS -->
    <link href="css/animate.css" rel="stylesheet">

    <!-- Mobile Menu Css -->
    <link href="css/meanmenu.css" rel="stylesheet">

    <!-- PrettyPhoto CSS -->
    <link href="css/prettyPhoto.css" rel="stylesheet">

    <!-- DIRECTORY FONT -->
    <link href="font/stylesheet.css" rel="stylesheet">

    <!-- STYLE CSS -->
    <link href="style.css" rel="stylesheet">

    <!-- RESPONSIVE CSS -->
    <link href="css/responsive.css" rel="stylesheet">

    <!-- Colors Css -->
    <link href="css/color.css" rel="stylesheet">
</head>
<body>

<!--<div id="preloader"></div>
<!--<header class="header-area">
<div class="topbar bg-color2">
<div class="row nopadding">
<div class="container nopad">

	<div class="col-md-6 col-xs-4 nopadding">

	<div class="sin-info border-none fix">
		<div class="info-icon">
    		<i class="icofont icofont-contacts"></i>
    	</div>

		<div class="info-content">
			<a href="mailto:info@dmcweb.net">info@dmcweb.net</a>
        </div>
    </div>
    </div>

    <div class="col-md-6 col-xs-8 nopadding">
        <ul class="none two right padding-top-bottom18" style="float:right;">
            <li><a href="javascript:void(0);"><i class="fa fa-facebook icon-border-gray size5" aria-hidden="true"></i></a></li>
            <li><a href="javascript:void(0);"><i class="fa fa-twitter icon-border-gray size5" aria-hidden="true"></i></a></li>
            <li><a href="javascript:void(0);"><i class="fa fa-instagram icon-border-gray size5" aria-hidden="true"></i></a></li>
            <li><a href="javascript:void(0);"><i class="fa fa-google-plus icon-border-gray size5" aria-hidden="true"></i></a></li>
            <li><a href="javascript:void(0);"><i class="fa fa-rss icon-border-gray size5" aria-hidden="true"></i></a></li>
        </ul>
    </div>

</div>
</div>
</div>
</header>-->
<header class="header-area pin-start">
        <div class="head-top-area">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="logo">
                            <a href="index.php"><img src="img/logo.png" alt=""></a>
                        </div>
                        <!-- /.End Of Logo -->
                    </div>
                    <div class="col-sm-9 hidden-xs">
                        <div class="head-top-right fix">

                            <div class="sin-info fix">
                                <div class="info-icon">
                                    <i class="icofont icofont-social-google-map"></i>
                                </div>
                                <div class="info-content"><span>Banjarahills, Hyderabad,<br> Telangana, India</span>
                                </div>
                            </div>
                            <!-- /.End Of Seven -->

                            <div class="sin-info fix">
                                <div class="info-icon">
                                    <i class="icofont icofont-clock-time"></i>
                                </div>
                                <div class="info-content">
                                    <span>9am - 7pm <br> Mon - Sat</span>
                                </div>
                            </div>
                            <!-- /.End Of Seven -->

                            <div class="sin-info border-none fix">
                                <div class="info-icon">
                                    <i class="icofont icofont-contacts"></i>
                                </div>
                                <div class="info-content">
                                    <a href="mailto:info@dmcweb.net">info@dmcweb.net</a>
                                    <a href="javascript:void(0);">+91 (0)40 66588324</a>
                                </div>
                            </div>
                            <!-- /.End Of Seven -->


                            <!-- /.End Of Seven -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Of Top Head -->
        <div class="head-bottom-area">
            <div class="container">
                <div class="row">
                    <div class="mainmenu-area">
                        <nav class="navigation-menus">
                            <ul class="mobile-menu nav navbar-nav">
                                <li><a href="index.php">Home</a></li>
                                <li><a href="javascript:void(0);">About us <i class="hover-ind fa fa-caret-down" aria-hidden="true"></i></a>
                                	<ul class="sub-menu">
                                        <li><a href="about.php">Corporate Overview</a></li>
                                        <li><a href="clients.php">Clientele</a></li>
                                        <li><a href="careers.php">Careers</a></li>
                                 	</ul>
                                  </li>

                                <li class="dropdown-trigger"><a href="javascript:void(0);">Services <i class="hover-ind fa fa-caret-down" aria-hidden="true"></i></a>
                                    <ul class="sub-menu">
                                        <li><a href="application-development.php">Application Development</a></li>
                                        <li><a href="agile-testing.php">Agile Testing</a></li>
                                        <li><a href="bigdata-analytics.php">Big Data Analytics</a></li>
                                        <li><a href="managed-cloud-services.php">Managed Cloud Services</a></li>
                                        <li><a href="qa-testing-services.php">QA &amp; Testing</a></li>
                                        <li><a href="staff-augmentation.php">Staff Augmentation</a></li>
                                    </ul>
                                </li>

                                <li><a href="javascript:void(0);" >Solutions <i class="hover-ind fa fa-caret-down" aria-hidden="true"></i></a>
                                	<ul class="sub-menu">
                                		<li><a href="big-data.php">Big Data</a></li>
                                		<li><a href="bi-solutions.php">Business Intelligence</a></li>
                                		<li><a href="enterprise-applications.php">Enterprise Applications</a></li>
                                		<li><a href="mobile-apps.php">Mobile Apps</a></li>
                                		<li><a href="oracle-cloud-applications.php">Oracle Cloud</a></li>
                                		<li><a href="oracle-fusion-middileware.php">Oracle Fusion</a></li>
                                	</ul>
                                </li>

                                <li><a href="technologies.php">Technologies</a></li>

                                <li><a href="javascript:void(0);" >Industries <i class="hover-ind fa fa-caret-down" aria-hidden="true"></i></a>
                                	<ul  class="sub-menu">
                                		<li><a href="education.php">Education</a></li>
                                		<li><a href="energy-utilities.php">Energy &amp; Utilities</a></li>
                                		<li><a href="financial-institutions.php">Financial Institutions</a></li>
                                		<li><a href="healthcare-insurance.php">Healthcare &amp; Insurance</a></li>
                                		<li><a href="shipping-logistics.php">Shipping &amp; Logistics</a></li>
                                		<li><a href="telecommunications.php">Telecommunications</a></li>
                                	</ul>
                                </li>
                                <li><a href="contact-dmc-it-services.php">Contact Us</a></li>
                                <li><a href="http://dmcweb.net/webmail">Employee Login</a></li>
                            </ul>
                        </nav>

                    </div>
                </div>
            </div>
        </div>
        <!-- End Of Bottom Head -->
</header>
<section class="slider-area">

        <div class="Modern-Slider">

            <!-- Item -->
            <div class="item">
                <div class="img-fill">
                    <img src="img/slides/img-01.jpg" alt="">
                    <div class="slider-text overlay">
                        <div class="tb">
                            <div class="tbc">
                                <div class="container text-left rs-padding ">
                                    <div class="col-md-12">

                                        <h1>
                                            <br> <span>DMC IT Services </span><br> Global Delivery On</h1>
                                        <p>Business Consulting Services
                                            <br> Offshore - Onsite Project Model<br>IT Application Services <br>Staff Augmentation
                                            </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- // Item -->

            <!-- Item -->
            <div class="item">
                <div class="img-fill">
                    <img src="img/slides/img-03.jpg" alt="">
                    <div class="slider-text overlay">
                        <div class="tb">
                            <div class="tbc">
                                <div class="container text-left rs-padding ">
                                    <div class="col-md-offset-5 col-md-7">
   <h1><span>DMC IT Services</span> <br>Specialized Services on</h1>
                                        <p> Staff Augmentation
                                            <br>Customised Application Development<br>Quality Testing<br>Business Outsourcing
                                            </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- // Item -->
            <div class="item">
                <div class="img-fill">
                    <img src="img/slides/img-02.jpg" alt="">
                    <div class="slider-text overlay">
                        <div class="tb">
                            <div class="tbc">
                                <div class="container text-left rs-padding ">
                                    <div class="col-md-offset-5 col-md-7">
<h1><span>DMC IT Services</span> <br>Your Trusted Oracle Partner</h1>
                                        <p>Migrating Oracle EBS 11i & R12 to Oracle Fusion Cloud
                                            <br> Oracle Apps Testing Suite(OATS) Services<br>
                                            Oracle Fusion middileware & BI Services<br>
                                             Oracle Managed Services</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </section>


    <section class="about-area section-padding">
    <h1 class="text-center">Welcome to DMC IT Services</h1><hr>
        <div class="container">

            <div class="col-md-4">
                <div class="about-left">
                    <h2>We have more than <b>8 years of experiences</b>
                      in DMC IT Services </h2>
                    <figure class="about-thumb">
                        <img src="img/about-us.png" alt="" class="img-responsive">

                    </figure>
                </div>
            </div>
            <div class="col-md-7 col-md-offset-1">
                <div class="about-quote">
                    <blockquote>
                        <b>DMC IT Services</b> a Global IT Consulting and Services firm established at Hyderabad, India, manages the full software deployment lifecycle in the subsequently mentioned technologies across multiple industry verticals taking in BFSI, Manufacturing, Real Estate, Retail, Logistics, Telecom, Oil & Gas and others.
                        <br>
                        <br>DMC IT Services has conceived and developed a supple, resilient, and top-notch courses of action pertinent to consulting across multiple domains counting HCM, Financials, Projects, Manufacturing, Supply Chain, and CRM.
                    </blockquote>
                </div>
            </div>
            <div class="row">

                <!-- Single News -->
                <div class="col-sm-4">
                    <div class="sin-news">
                        <a class="news-thumb mb-35" href="javascript:void(0);">
                            <img src="img/works/img-09.jpg" alt="">
                            <div class="news-hover"> DMC IT Services</div>
                        </a>
                        <div class="news-excerpt">
                            <a href="javascript:void(0);"><h2>Who We Are </h2></a>
                            <p>DMC IT Services a Global IT Consulting and Services Partner headquartered at CA, USA with Indian officers at Bangalore and Hyderabad</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="sin-news">
                        <a class="news-thumb mb-35" href="javascript:void(0);">
                            <img src="img/works/img-10.jpg" alt="">
                            <div class="news-hover"> Our Solutions</div>
                        </a>
                        <div class="news-excerpt">
                            <a href="javascript:void(0);"><h2>Solutions</h2></a>
                            <p>
DMC IT Services has expertise in Implementation of Enterprise Applications of Oracle Financials, SCM, HRMS and CRM modules and Production Support... </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="sin-news">
                        <a class="news-thumb mb-35" href="javascript:void(0);">
                            <img src="img/works/img-11.jpg" alt="">
                            <div class="news-hover"> Technology</div>
                        </a>
                        <div class="news-excerpt">
                            <a href="javascript:void(0);"><h2>Technology
</h2></a>
                            <p>We are Specialized Technology Partner for implementing Cloud applications, Oracle eBusiness Suite , OATS Services and Oracle UPK Services.</p>
                        </div>
                    </div>
                </div>
                <!-- /.End Of Single News -->


            </div>
        </div>
    </section>

<section class="facts-area section-padding overlay fix" style="background-image:url(img/facts-bg.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="facts-headding">
                        <h2><b>Simplicity</b> is the best IT Services</h2>
                    </div>
                </div>
                <div class="col-md-6 col-md-offset-1">
                    <div class="fact-quote">
                        <blockquote>
                            We Help Business Succeed Through Innovative Technology Solutions
                        </blockquote>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="container">
                    <div class="facts-wrap fix">

                        <!-- Single Fact -->
                        <div class="sin-fact">
                            <span class="counter">125</span>
                            <h2 class="count-badge">satisfied clients</h2>
                        </div>
                        <!-- /. End Of Single Fact -->

                        <!-- Single Fact -->
                        <div class="sin-fact">
                            <span class="counter">368</span>
                            <h2 class="count-badge">completed projects</h2>
                        </div>
                        <!-- /. End Of Single Fact -->

                        <!-- Single Fact -->
                        <div class="sin-fact">
                            <span class="counter">14</span>
                            <h2 class="count-badge">expert workers</h2>
                        </div>
                        <!-- /. End Of Single Fact -->

                        <!-- Single Fact -->
                        <div class="sin-fact">
                            <span class="counter">100</span><span>%</span>
                            <h2 class="count-badge">satisfiction rate</h2>
                        </div>
                        <!-- /. End Of Single Fact -->

                        <!-- Single Fact -->
                        <div class="sin-fact">
                            <span class="counter">2500</span><span>+</span>
                            <h2 class="count-badge">hours of work</h2>
                        </div>
                        <!-- /. End Of Single Fact -->

                    </div>
                </div>
            </div>
        </div>
    </section>

<section class="works-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-center">
                        <h2>DMC IT Services</h2><br>
                    </div>
                </div>
            </div>
            <div class="row">

                <!-- Single Work -->
                <div class="col-md-6 col-sm-6">
                    <div class="sin-news">
                        <a class="news-thumb mb-35" href="javascript:void(0);">
                            <img src="img/works/img-01.jpg" alt="">
                            <div class="news-hover"> Managed Cloud Services</div>
                        </a>
                        <div class="news-excerp">
                            <a href="javascript:void(0);"><h2>Managed Cloud Services</h2></a>
                            <p>Oracle Hyperion Essbase is the market leading online analytical processing (OLAP) server for enterprise performance management (EPM) applications.</p>
                        </div>
                    </div>
                </div>
                <!-- /. End Of Single Work -->

                <!-- Single Work -->
                <div class="col-md-6 col-sm-6">
                    <div class="sin-news">
                        <a class="news-thumb mb-35" href="javascript:void(0);">
                            <img src="img/works/img-02.jpg" alt="">
                            <div class="news-hover"> QA & Testing Services </div>
                        </a>
                        <div class="news-excerpt">
                            <a href="javascript:void(0);"><h2>QA & Testing Services </h2></a> <p>DMC IT Services, Inc specialized ERP Center of Excellence (CoE) has delivered verification & validation services to large enterprise customers . </p>

                        </div>
                    </div>
                </div>

                <!-- /. End Of Single Work -->

                <!-- /. End Of Single Work -->


            </div>
        </div>
    </section>

<section class="latestNews-area pb-140">
        <div class="container">
            <div class="row">
                <div class="col-md-12 section-title text-center mb-70">
                    <h2>Industries</h2>
                </div>
            </div>
            <div class="row">

                <!-- Single News -->
                <div class="col-sm-4">
                    <div class="sin-news">
                        <a class="news-thumb mb-35" href="financial-institutions.php">
                            <img src="img/works/img-03.jpg" alt="">
                            <div class="news-hover"> Financial Institutions</div>
                        </a>
                        <div class="news-excerpt">
                            <a href="financial-institutions.php"><h2>Financial Institutions </h2></a>

                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="sin-news">
                        <a class="news-thumb mb-35" href="healthcare-insurance.php">
                            <img src="img/works/img-04.jpg" alt="">
                            <div class="news-hover"> Healthcare & Insurance</div>
                        </a>
                        <div class="news-excerpt">
                            <a href="healthcare-insurance.php"><h2>Healthcare & Insurance</h2></a>

                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="sin-news">
                        <a class="news-thumb mb-35" href="shipping-logistics.php">
                            <img src="img/works/img-05.jpg" alt="">
                            <div class="news-hover">Shipping & Logistics </div>
                        </a>
                        <div class="news-excerpt">
                            <a href="shipping-logistics.php"><h2>Shipping & Logistics</h2></a>

                        </div>
                    </div>
                </div>

<div class="col-sm-4">
                    <div class="sin-news">
                        <a class="news-thumb mb-35" href="telecommunications.php">
                            <img src="img/works/img-06.jpg" alt="">
                            <div class="news-hover"> Telecommunications</div>
                        </a>
                        <div class="news-excerpt">
                            <a href="telecommunications.php"><h2>Telecommunications</h2></a>

                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="sin-news">
                        <a class="news-thumb mb-35" href="education.php">
                            <img src="img/works/img-07.jpg" alt="">
                            <div class="news-hover">Education </div>
                        </a>
                        <div class="news-excerpt">
                            <a href="education.php"><h2>Education</h2></a>

                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="sin-news">
                        <a class="news-thumb mb-35" href="energy-utilities.php">
                            <img src="img/works/img-08.jpg" alt="">
                            <div class="news-hover">Energy &amp; Utilities </div>
                        </a>
                        <div class="news-excerpt">
                            <a href="energy-utilities.php"><h2>Energy &amp; Utilities</h2></a>

                        </div>
                    </div>
                </div>                <!-- /.End Of Single News -->


            </div>
        </div>
    </section>


    <section class="cta-area">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="cta-text">
                        <h2>Liked our services?</h2>
                        <span>We are always ready to welcome you</span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="cta-right">
                        <a href="contact-dmc-it-services.php" class="button button-hover button-cta">get a free quote</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

<section class="tesimonial-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-center mb-65">
                        <h2> our clients </h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="clients-wrap clients-active">

                    <!-- Single Client -->
                    <div class="sin-client">
                        <a href="#"><img class="img-responsive" src="img/clients/client-1.jpg" alt=""></a>
                    </div>
                    <!-- /. End Of Single Client -->


                    <!-- Single Client -->
                    <div class="sin-client">
                        <a href="#"><img class="img-responsive" src="img/clients/client-2.jpg" alt=""></a>
                    </div>
                    <!-- /. End Of Single Client -->


                    <!-- Single Client -->
                    <div class="sin-client">
                        <a href="#"><img class="img-responsive" src="img/clients/client-3.jpg" alt=""></a>
                    </div>
                    <!-- /. End Of Single Client -->


                    <!-- Single Client -->
                    <div class="sin-client">
                        <a href="#"><img class="img-responsive" src="img/clients/client-4.jpg" alt=""></a>
                    </div>
                    <!-- /. End Of Single Client -->


                    <!-- Single Client -->
                    <div class="sin-client">
                        <a href="#"><img class="img-responsive" src="img/clients/client-5.jpg" alt=""></a>
                    </div>
                    <!-- /. End Of Single Client -->


                    <!-- Single Client -->
                    <div class="sin-client">
                        <a href="#"><img class="img-responsive" src="img/clients/client-6.jpg" alt=""></a>
                    </div>
                    <!-- /. End Of Single Client -->
<div class="sin-client">
                        <a href="#"><img class="img-responsive" src="img/clients/client-5.jpg" alt=""></a>
                    </div>

                    <!-- /. End Of Single Client -->

                </div>
            </div>

        </div>
    </section>


<footer id="footer-area">
        <div class="footer-top section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="widget widget_text">
                            <div class="footer-logo">
                                <img src="img/logo-2.png" alt="">
                            </div>
                            <p>Sri Prashanti Sai Towers, 4<sup>th</sup> Floor, Plot 68, Nagarjuna Hills, Road No. 1, Banjarahills, Hyderabad, Telangana, India - 500082.</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="widget widget_links fix">
                            <h3 class="widget-title">Important Links</h3>
                            <ul class="site_map_links">
                                <li><a href="index.php">Home</a></li>
                                <!--<li><a href="about.php">Corporate Overview</a></li>-->
                                <li><a href="careers.php">Careers</a></li>
                                <li><a href="clients.php">Clients</a></li>
                                 <li><a href="contact-dmc-it-services.php">Contact Us</a></li>
                            </ul>

                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="widget">
                            <h3 class="widget-title">Contact Us</h3>
                            <h4>PHONE</h4>
                            <ul>
                              <li><a href="javascript:void(0)">+91 (0)40 66588324</a></li>
                            </ul>
                            <h4>EMAIL</h4>
                            <ul>
                              <li><a href="javscript:void(0)">info@dmcweb.net, sales@dmcweb.net</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="widget">
                            <h3 class="widget-title">Newsletter Subscription</h3>
                            <div class="widget">
                                <div class="footer-newsletter">
                                    <div class="input-email">
                                        <input type="email" placeholder="Enter your email address" name="email" id="email">
                                        <i class="icofont icofont-send-mail"></i>
                                    </div>
                                    <input type="submit" value="Subscribe Now">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom fix">
            <div class="container bb-top foo-padding">
                <div class="row">
                    <div class="col-sm-6 copyright">
                        <span>&copy; 2017, All Rights Reserved. DMC IT Services Pvt Ltd</span>
                    </div>
                    <div class="col-sm-6 text-right">
                        <div class="social-links">
                            <ul>
                                <li><a href="javascript:void(0);"><i class="fa fa-facebook icon-border-gray"> </i></a></li>
                                <li><a href="javascript:void(0);"><i class="fa fa-twitter icon-border-gray"> </i></a></li>
                                <li><a href="javascript:void(0);"><i class="fa fa-google-plus icon-border-gray"> </i></a></li>
                                <li><a href="javascript:void(0);"><i class="fa fa-rss icon-border-gray"> </i></a></li>
                                <li><a href="javascript:void(0);"><i class="fa fa-linkedin icon-border-gray"> </i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

     <!-- JQUERY LIBRARY -->
    <script src="../../../ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    <script src="js/jquery.min.js"></script>

    <!-- Mobile Menu JS -->
    <script src="js/jquery.meanmenu.js"></script>

    <!-- Sticky Menu JS -->
    <script src="js/jquery.sticky.js"></script>

    <!-- WayPoints JS -->
    <script src="js/waypoints.min.js"></script>

    <!-- BOOTSTRAP JS -->
    <script src="js/bootstrap.min.js"></script>

    <!-- CounterUp JS -->
    <script src="js/jquery.counterup.min.js"></script>

    <!-- OWL CAROUSEL JS -->
    <script src="js/owl.carousel.min.js"></script>

    <!-- PrettyPhoto JS -->
    <script src="js/jquery.prettyPhoto.js"></script>

    <!-- SLICK SLIDER -->
    <script src="js/slick.min.js"></script>

    <!-- MAIN JS -->
    <script src="js/main.js"></script>

    <!-- Color Settings JS -->
    <script src="js/color-settings.js"></script>


</body>

</html>